@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #F2EBBF, #F3B562);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(86, 63, 34, 0.73);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F06060;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(178, 70, 70, 0.849);
}

h2 {
    color: #5C4B51;
}

p {
    text-align: justify;
}