@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', 'cursive';
    --fonte03: 'Sriracha', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte01);
}

header{
    background-color: black;
    height: 200px;
    
}

header h1{
    color: white;
    text-align: center;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--fonte02);
    padding-top: 50px;
}

header h1:hover{
    text-decoration: underline;
}

header p{
    color: white;
    text-align: center;
    font-family: var(--fonte02);
    padding-bottom: 50px;
}

header p > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header p > a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte03);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(38, 38, 38);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.293);
    display: inline-block;
    padding: 5px;
}

footer{
    font-family: var(--fonte01);
    background-color: black;
}

footer p{
    color: white;
    text-align: center;
    padding: 5px;
}

footer p > a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer p > a:hover{
    text-decoration: underline;
}